@import url("https://fonts.googleapis.com/css?family=Outfit:400,700");

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--light-gray);
    font-family: Outfit, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.container img {
    width: 100%;
    border-radius: 20px;
}
.title {
    font-weight: 700;
    color: var(--dark-blue);
    font-size: larger;
}

.text {
    margin-top: 0;
    font-weight: 400;
    color: var(--grayish-blue);
}
